
    <p>
    NAVIGATE TO:
      <form action="/page2">

    </br>

                  <select name="option_1">
                  	<option> - SELECT - </option>
                  	<option value="Location">Location Info</option>
                  	<option value="Category">Category Info</option>
                  	<option value="Product">Product Info</option>
                  </select>
</br>
                </br>
<input class="updatebutton" type="submit" value="Enter">
</form>
</p>