<form action="/page3">

</br>

<select name="option_2_locations">
  <option> - Location Info - </option>
  <option value="1">Add location</option>
  <option value="2">Update location</option>
  <option value="3">Delete location</option>
</select>

</br>
</br>


<button type="button" name="submit">Continue</button>
<button type="button" name="go_back">Go Back</button>
</form>
</p>