<!-- 
# Public: TEMPLATE.erb
# A template to display around all user interaction on the front-end.
#
# Attributes:
# none
#
# Methods:
# none 
#
# Attributes:
# none
#
-->

<!DOCTYPE html>
<html>
<head>
<title>WAREHOUSE MANAGEMENT ONLINE</title>
<link rel="stylesheet" href='css/template.css'>

<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>


<script type="text/javascript" src ="birthdate.js"></script>
</head>


<body>
  
  <div>
    <ul>
      <li><a href="/page1"> << main page</a></li>

    </ul>
  </div>
  <h1>Welcome to W.M.O.</h1>
    <a href=""><img src="http://upload.wikimedia.org/wikipedia/commons/c/cf/X2_warehouse.jpg"></a>

  <h5><strong>warehouse management online</strong></h5>
  <h6><strong>since 2015</strong></h6>
  <div>
  
<%= yield %>
</div>
<input type="button" value="Go Back" onclick="goBack()" />
</body>

<script type="text/javascript">date_populate("date", "month", "year");</script>
<script type="text/javascript">
function goBack () {
history.go(-1);
return false;
}
</script>
</html>