body{
  font-family: 'Slabo 27px', serif;
  color: rgba(0,100,150,1);
  text-align: center;
}

ul{
  display: inline;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: auto;
}

li{
  display: inline;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  padding: 25px 25px 25px 25px;
}

li a{
  color: rgba(50,100,100,1);
}

a:hover{
  color: rgba(0,0,255,1);
}


div{
  border: solid rgba(25,25,25,.2);
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(200,200,200, .5);
  text-align: center;
  margin: 2px 2px 2px 2px;
  line-height: 150%;
  -webkit-box-shadow: inset 0px 1px 0px rgba(200,200,200, .8), 0px 10px 0px 0px rgb(240,240,240, .8), 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px rgba(200,200,200, .8), 0px 10px 0px 0px rgb(240,240,240, .8), 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px rgba(200,200,200, .8), 0px 10px 0px 0px rgb(240,240,240, .8), 0px 10px 5px #999;
  
}

img{
  max-width: 500px;
  max-height: 500px;
  border: solid rgba(25,25,25,.5);
  border-radius: 25px 25px 25px 25px;
}

p{

  padding: 10px 75px 5px 75px;
}

h6{
  color: rgba(200,200,200,1);
  font-size: 16px;
  font-weight: normal;
}

h5{
  color: rgba(200,200,200,1);
  font-size: 14px;
  font-weight: normal;
  margin: 1px;
}

input.deletebutton{
  width:50px; /*same as the height*/
  height:50px; /*same as the width*/
  background-color:#ff0000;
  border:1px solid #ff0000; /*same colour as the background*/
  color:#fff;
  font-size:.6em;
  /*set the border-radius at half the size of the width and height*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /*give the button a small drop shadow*/
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
  box-shadow: 2px 2px 15px rgba(0,0,0, .75);
  }
  
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input.deletebutton:hover{
  background:#c20b0b;
  border:1px solid #c20b0b;
  /*reduce the size of the shadow to give a pushed effect*/
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

input.updatebutton{
  width:500px;
background: #3e9cbf; /*the colour of the button*/
padding: 8px 14px 10px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1.5em;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #fff;
/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input.updatebutton:hover, input.updatebutton:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;

input[type="radio"   ]{
  width: 20px;
  height: 20px;
}

input[type="checkbox"   ]{
  width: 20px;
  height: 20px;
}

input[type="text" ]{
  border: 1px dotted #999;
  border-radius: 10px 10px 10px 10px;
  width: 300px;
  height: 15px;
  -webkit-appearance: none;
}

.form-submit-button {
        width:98px;
        height:42px;
        border:2px solid #ccc;
}
